// Place all the styles related to the wolves controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{
  margin: 0;
  padding: 0;
  background-color: #FFFFF3;
}

.howl-picture img{
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.main-button {
  width: 92%;
  }
.container{
  padding: 1em;
}

.centered{
  text-align: center;
}
.howler-text{
  text-align: center;
  font-size: 25px;
}

.button_to{
    box-shadow: 5px 5px 5px grey;
}

.profile-container{
  line-height: 2em;
}

.profile-wrapper{
  border: 3px solid black;
  margin-bottom: 1em;
  box-shadow: 5px 5px 5px grey
}

.howl-wolf-name{
  font-size: 18px;
  font-weight: 500;
}

.howlr-border-line{
  border-bottom: 2px solid lightgrey
}